
@import "./variables.scss";
@import "./reset.scss";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    main{
        .form{
            width: 25%;
            margin: auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            font-family: $fontFamily;
            gap: 10px;
            border: 1px solid black;
            margin-bottom: 10px;

            h3{
                font-size: 20px;
                font-weight: 500;
            }

           #taskStatus{
            font-size: 14px;
            font-weight: 500;
            background-color: $yellowColor;
            border: none;
            border-radius: 5px;
            padding: 5px 8px;
            color: $textColor;
           }

           #taskSubmit{
            font-size: 14px;
            font-weight: 500;
            background-color: $yellowColor;
            border: none;
            border-radius: 5px;
            padding: 5px 8px;
            color: $textColor;
            transition: background-color ease-in-out 300ms;
            margin-top: 10px;
            margin-bottom: 10px;

            &:hover{
                background-color: #f2cc8fb6;
                transition: background-color ease-in-out 300ms;
            }
           }
        }
    }
}